*{
  margin: 0px;
  padding: 0p;
}
.introduction{
  background-color: #f7f7f7;
  Margin-left:20%;
  width: 20%;
  height: 100%;
  float: left;
}
.introduction h1{
  margin-left: 20px;
  margin-right: 10px;
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
}
.introduction p{
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-family: arial;
  text-align: justify;
}
.content{
  background-color: #0f0f0f;
  margin-right:20%;
  width: 40%;
  float: left;
}
.content h1{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.content p{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-family: arial;
  color: white;
}